{{ ansible_managed | comment }}

[Unit]
Description=Omada SDN controller
Wants=network.target
After=network-online.target

[Service]
User=omada
Group=omada

Restart=on-failure

TimeoutStartSec=90
TimeoutStopSec=70

Type=simple

ExecStartPre=/bin/rm -f \
  %T/container-%N.pid \
  %T/container-%N.ctr-id

ExecStart=/usr/bin/podman container run \
  --log-level=debug \
  --name %N \
  --conmon-pidfile %T/container-%N.pid \
  --cidfile %T/container-%N.ctr-id \
  --replace=true \
  --restart=always \
  --publish 8088:8088 \
  --publish 8043:8043 \
  --publish 8843:8843 \
  --publish 29810:29810 \
  --publish 29810:29810/udp \
  --publish 29811:29811 \
  --publish 29811:29811/udp \
  --publish 29812:29812 \
  --publish 29812:29812/udp \
  --publish 29813:29813 \
  --publish 29813:29813/udp \
  --env MANAGE_HTTP_PORT=8088 \
  --env MANAGE_HTTPS_PORT=8043 \
  --env PORTAL_HTTP_PORT=8088 \
  --env PORTAL_HTTPS_PORT=8843 \
  --env SHOW_SERVER_LOGS=true \
  --env SHOW_MONGODB_LOGS=false \
  --env TZ={{ omada_controller_timezone}} \
  --volume omada-data:/opt/tplink/EAPController/data \
  --volume omada-work:/opt/tplink/EAPController/work \
  --volume omada-logs:/opt/tplink/EAPController/logs \
{% if omada_controller_ssl is defined %}
  --volume {{ omada_controller_ssl.key }}:/cert/tls.key:ro \
  --volume {{ omada_controller_ssl.cert }}:/cert/tls.crt:ro \
{% endif %}
  docker.io/mbentley/omada-controller:{{ omada_controller_version }}

ExecStop=/usr/bin/podman container stop \
  --ignore \
  --time=10 \
  --cidfile %T/container-%N.ctr-id

ExecStopPost=/usr/bin/podman container rm \
  --ignore \
  --force \
  --cidfile %T/container-%N.ctr-id

[Install]
WantedBy=multi-user.target default.target
