{{ ansible_managed | comment(decoration='; ') }}

$TTL {{ zone.ttl | default("1D") }}

@ IN SOA {{ zone.soa.domain }} sysadmin.{{ zone.soa.domain }} (
  {{ zone.soa.serial | default("10") }}
  {{ zone.soa.refresh | default("8H") }}
  {{ zone.soa.retry | default("2H") }}
  {{ zone.soa.expire | default("4W") }}
  {{ zone.soa.minimum | default("1D") }}
)

$ORIGIN {{ zone.origin }}

{% for record in zone.records | default([]) %}
{{ record.name | default("") }} IN {{ record.type }} {{ record.record }}
{% endfor %}
