[Unit]
Description=DMR network gateway
After=network.service

[Service]
ExecStart=/usr/bin/DMRGateway /etc/dmrgateway.ini

[Install]
WantedBy=multi-user.target
